<%- include ../../layouts/header.ejs %>

    <div class="page-container">
    
      <div class="row">
          <div class="col-md-11">
            <h2>Im DashBoard</h2>
         </div>
     </div><!-- /.row -->
    
    </div> <!-- end page-container -->

 <!-- --------------------------------------------------------------- -->
 </div>   <!-- /#page-wrapper -->
    </div> <!-- /#wrapper -->
    <!-- Core Scripts - Include with every page -->
	<!-- por cada modulo agrega las funciones para validacion del cliente-->
    <script src="../js/profiles_clientScripts.js"></script>  
<!-- --------------------------------------------------------------- -->

<%- include ../../layouts/footer.ejs %>