
<!-- Sidebar -->
<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="index.html">App Example</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <!-- INICIO MENU-->
        <ul class="nav navbar-nav side-nav">
            <li class="sidebar-search">
                <a href="#">
                    <i class="fa fa-renren fa-3x"></i> &nbsp; <span style="font-size:30px">Bienvenido</span>
                </a>
            </li>
		<% if(dataMenu.length){
		    for(var i = 0;i < dataMenu.length;i++) { %>
            <li><a href="<%=dataMenu[i].urlModule%>"><i class="fa fa-users"></i> <%=dataMenu[i].moduleName%></a></li>               
		<%  }
	   	   }else{ %>
			<tr>
				<td colspan="3">No data menu</td>
			</tr>
        <% } %>
        </ul>
        <!-- FIN MENU-->
        
		<!-- INICIO BARRA DE NAVEGACION -->
        <ul class="nav navbar-top-links navbar-right">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <i class="fa fa-user fa-fw"></i> <%= sess_user %> <i class="fa fa-caret-down"></i>
                </a>
                <ul class="dropdown-menu dropdown-user">
                    <li><a href="#"><i class="fa fa-user fa-fw"></i>Profile</a>
                    <li class="divider"></li>
                    <li><a href="/logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                    </li>
                </ul>
            </li>
        </ul>
        <!-- FIN BARRA NAVEGACION-->


    </div><!-- /.navbar-collapse -->

</nav>
