<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= (locals.title) ? title : 'Welcome Home' %></title>
    <!-- Core CSS - Include with every page -->
    <link href="../css/bootstrap.css" rel="stylesheet">
    <link href="../font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="../css/back.css" rel="stylesheet">
    <script src="../js/jquery-1.10.2.min.js"></script>
</head>

<body>
    <div class="page-container">
       <div class="row">
             <div class="col-xs-11 col-sm-6 col-md-11">               
                <div class="table-responsive" style="margin-top:5px">       
						<p>API GET method, put a parameter idQuery and it return rows of a table </p>
                        <table class="table table-bordered table-hover">
                        <!-- render headers columns-->
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Module Name</th>
                                <th>Module Url</th>
                            </tr>
                        </thead>
                        <tbody>
                        <!--nder rows with javaScript in client.-->
                            <% if(dataDetails.length){ 
                                 for(var i = 0;i < dataDetails.length;i++) { %>                                 
                                <tr>
                                    <td><%=dataDetails[i].module_id%></td>
                                    <td><%=dataDetails[i].moduleName %></td>
                                    <td><%=dataDetails[i].urlModule %></td>
                                </tr>
                                 <% }
                            
                             }else{ %>
                                 <tr>
                                    <td colspan="3">No rows</td>
                                 </tr>
                            <% } %>
                        </tbody>
                    </table>
        </div>
        </div>
        </div>            
    </div> <!--end of page container-->
</body>
</html>